@import "bootstrap";

body {
    background-color: #fafafa;
    font-family: 'Josefin Sans', sans-serif;
}

.brand {
    font-size: 30px;
    color: #125688;
    font-family: 'Pacifico', cursive;
}

.brand:hover {
    text-decoration: none;
    color: #125688;
}

.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
    margin-top: 40px;
    padding: 0;
}

.card.form {
    padding: 20px;
}

.card p, .card .message {
    font-size: 18px;
    margin: 20px;
}

//.gram-actions a {
//    font-weight: bold;
//    font-size: 16px;
//    margin-right: 20px;
//    margin-left: auto;
//}

.handle {
    margin: 10px;
    color: #125688;
    font-weight: bold;
    font-size: 18px;
}

input {
    font-size: 18px;
    font-weight: 400;
}

.input.boolean {
    margin-left: 18px;
    margin-top: 5px;
  }
  
.input.boolean label {
    margin-top: 5px;
    line-height: 44px;
}

.my-btn, my-btn:hover {
    background-color: #125688;
    width: 100%;
    border: none;
    font-size: 24px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.my-btn2, .my-btn2:hover {
    background-color: #125688;
    width: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.my-btn:hover {
    cursor: pointer;
}

label {
    font-size: 18px;
}

.top-nav {
    height: 70px;
    padding-top: 15px;
    background-color: white;
    border-bottom-color: #edeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.top-nav .add {
    margin-top: 10px;
}

.top-nav .add a {
    font-size: 16px;
    color: #125688;
    font-weight: bold;
    padding-left: 8px;
}